# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
.eggs/
*.egg-info/

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
.DS_Store

# Test
.pytest_cache/
.coverage
htmlcov/

# Notebook
.ipynb_checkpoints/

# Test
.tox/

# Local
.env
.env.local
